{% extends "base.html" %}

{% block title %}Laisser un avis - MediBook{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow p-4">
      <h2 class="mb-4">Avis sur Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
      <form method="POST">{% csrf_token %}{{ form.as_p }}<button class="btn btn-primary" type="submit">Envoyer</button><a href="/doctors/{{ doctor.id }}/" class="btn btn-outline-secondary ms-2">Annuler</a></form>
    </div>
  </div>
</div>
{% endblock %}
